body {
  background-color: #34495e;
}

.container {
  width: 590px;
  margin: 20px auto;
}

.licenseplate {
  color: #333;
  background-color: #fff;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI1NHB4IiBoZWlnaHQ9IjEzMHB4IiB2aWV3Qm94PSIwIDAgNTQgMTMwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1NCAxMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgPGltYWdlIGlkPSJpbWFnZTAiIHdpZHRoPSI1NCIgaGVpZ2h0PSIxMzAiIHg9IjAiIHk9IjAiCiAgICB4bGluazpocmVmPSJkYXRhOmltYWdlL3BuZztiYXNlNjQsaVZCT1J3MEtHZ29BQUFBTlNVaEVVZ0FBQURZQUFBQ0NDQU1BQUFBNndNdU1BQUFBQkdkQlRVRUFBTEdQQy94aEJRQUFBQ0JqU0ZKTgpBQUI2SmdBQWdJUUFBUG9BQUFDQTZBQUFkVEFBQU9wZ0FBQTZtQUFBRjNDY3VsRThBQUFCZWxCTVZFVUZhSjlWbVd3ZWQ0K0d0azM0Cit3U0R0RThjZHBFU2NKY25mWW1veWpmLy93Q2d4andMYkpzdGdJVTVoMzZXd0VPeDBESStpbnR6cWxsd3FWdHRwMTAwaElHTHVVcTcKMWl0RGpYZ0dhWjQyaG9EMytnVlptMmtzZ0lieDl3bHBwRjhNYkp2RjNDVzUxU3pEMnlhejBURTdpWDBIYVo1YW5Ha2xmSXFhd2tENgovQU9TdlVVYWRKS1V2a1Q3L1FLWHdFSWdlWTZ1empTVnYwT2V4RDZseVRsam9XTm1vMkZycGw1dXAxd2hlWTFibkdnWWM1TmxvbUpZCm1tclY1aHZwOGc2SnVFdFBsSERRNHg3dTlRc0lhcDNuOFE4NmlIMEphcDNjNmhaS2tYTlVtR3d1Z1lWeHFWbzNobjhaZEpNUGJwa1cKY3BTQ3MxQWJkWkdIdDB5T3UwajgvUUpnbjJYOS9nSCsvZ0hhNkJqaTdSUGU2eFhoN1JNT2Jaa1FiNWdLYTV3TmJacHFwVjlUbDIyRQp0VTc1K3dSMnJGZDlzRlAyK2dZVmNaVVJiNWdvZllremhJSVVjWll2Z1lRZmVJN2Q2aGFQdTBmbDd4RWplb3dFZzhHMzUvLy8vLy8vCjUrQm5hSjhFZzlEYi8vLy8vL0NSZzU4S2E2RVBicU93cTZLUkFBQUFBV0pMUjBSMXFHcVkrd0FBQUFsd1NGbHpBQUFTZEFBQUVuUUIKM21ZZmVBQUFBQWQwU1UxRkIrTUdFQThySWJJWXk3a0FBQUYzU1VSQlZGakRZMkFZQmFOZ0ZGQVRNSktqaVltWmhaV05lT1hzSEZBRwpKeGMzbE1YRFMxQVhINytBSUlRbEpDd0NZWWlLaVV0SUV0QW1KYzBsZ3lZa0s4Y2xUOGcyQlVVbFdUUWhTV1VWVlVMYTFNQUlWWnNrCmh0REFBWFZ5NURVMHRiUjE4R2hpMHRYVE44QWlic2hsaE5jeVl5NFRiTUpDcG1aNHRabWJXdEE2bUVZeXNMUWlRcEcxRFpxQXJaMjkKQTZHc3lPRG81S3p0Z2lLaTRNcmxSdEF5ZHc4dVQxUVJTU0V2YjhLTzlISDBwWFZnRFF2ZzU0OWZuajBBbXlpVGJtQVFQbDFzd1NGTQpXSVF0dUVKbDhHa0xDNC9BbHYwTklxTjQ4TG94T2dhYksyTmQ0aFR3YVZPSVR5RGdlVEpBUEdaR1VITW5yQzB4Q1VOSTNaU2dydVFVCmFmVGlNSldGSlkyUU5yL1FkRmhPeklDRmhWWm9KaUZ0T2xuWjBQQmlWNHlETUhKeWVRT0lEcHE4S0s1OEVsb0tjRkJReUV5R0xvWWkKSUJ3Rm8yQVVqSUpSZ0FNVWw1U1dscGFWazZxdG9oS29yYXA2NkdpckdjYmFhc25UUmdJWTFUYXFiVlFiL2JTUldTcVBnbEV3Q2tiQgo4QU1BVWNKOTg5V04yUjRBQUFBbGRFVllkR1JoZEdVNlkzSmxZWFJsQURJd01Ua3RNRFl0TVRaVU1UVTZORE02TXpNck1ETTZNRERyCjVaelBBQUFBSlhSRldIUmtZWFJsT20xdlpHbG1lUUF5TURFNUxUQTJMVEUyVkRFMU9qUXpPak16S3pBek9qQXdtcmdrY3dBQUFBQkoKUlU1RXJrSmdnZz09IiAvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 100px;
  line-height: 110px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  
  padding-left: 60px;
  padding-bottom: 10px;
  
  width: 590px;
  border: 5px solid red;
  border-radius: 15px;
  outline: none;

}

.licenseplate::placeholder {
  color: #eee;
}